In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("C:/Users/kxj133/Downloads/New folder/train_5CLrC8b/train.csv")

In [3]:
test = pd.read_csv("C:/Users/kxj133/Downloads/New folder/test_Jwt0MQH/test.csv")

In [4]:
data.columns

Index(['reservation_id', 'booking_date', 'checkin_date', 'checkout_date',
       'channel_code', 'main_product_code', 'numberofadults',
       'numberofchildren', 'persontravellingid', 'resort_region_code',
       'resort_type_code', 'room_type_booked_code', 'roomnights',
       'season_holidayed_code', 'state_code_residence', 'state_code_resort',
       'total_pax', 'member_age_buckets', 'booking_type_code', 'memberid',
       'cluster_code', 'reservationstatusid_code', 'resort_id',
       'amount_spent_per_room_night_scaled'],
      dtype='object')

In [5]:
data.head()

,reservation_id,booking_date,checkin_date,checkout_date,channel_code,main_product_code,numberofadults,numberofchildren,persontravellingid,resort_region_code,...,state_code_residence,state_code_resort,total_pax,member_age_buckets,booking_type_code,memberid,cluster_code,reservationstatusid_code,resort_id,amount_spent_per_room_night_scaled
0,07659f3758d8aee27f5a7e2887adeacb67021cb95ada1b...,05/04/18,05/04/18,06/04/18,3,1,2,0,46,3,...,7.0,3,3,F,1,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,F,C,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,7.706428
1,03930f033646d073462b35d411616323597715ac4fc398...,23/01/15,11/04/15,16/04/15,1,1,2,0,46,3,...,7.0,5,2,F,1,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,F,A,39fa9ec190eee7b6f4dff1100d6343e10918d044c75eac...,6.662563
2,d145a32920e6587ad95bfe299d80c0affa268220535aaf...,28/01/15,01/02/15,05/02/15,1,1,2,0,47,1,...,7.0,1,2,F,1,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,E,A,535fa30d7e25dd8a49f1536779734ec8286108d115da50...,7.871602
3,cfd77f44811ed62f25a220b53324cdbafc662a4c9e5f04...,02/05/15,11/06/15,16/06/15,1,1,2,2,46,2,...,7.0,2,2,F,1,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,D,A,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,5.344943
4,937cff9e4dcfc2459620153dfc8b9962ac22bea67dfb29...,02/09/15,14/12/15,19/12/15,1,1,2,0,46,2,...,7.0,2,2,F,1,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,D,A,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,7.059346

In [6]:
data['cluster_code'].value_counts()

data['reservationstatusid_code'].value_counts()

data['resort_id'].unique().tolist()

['4e07408562bedb8b60ce05c1decfe3ad16b72230967de01f640b7e4729b49fce',
 '39fa9ec190eee7b6f4dff1100d6343e10918d044c75eac8f9e9a2596173f80c9',
 '535fa30d7e25dd8a49f1536779734ec8286108d115da5045d77f3b4185d8f790',
 'd4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f90da3a666eec13ab35',
 'b17ef6d19c7a5b1ee83b907c595526dcb1eb06db8227d650d5dda0a9f4ce8cd9',
 'ff5a1ae012afa5d4c889c50ad427aaf545d31a4fac04ffc1c4d03d403ba4250a',
 '0b918943df0962bc7a1824c0555a389347b4febdc7cf9d1254406d80ce44e3f9',
 'a68b412c4282555f15546cf6e1fc42893b7e07f271557ceb021821098dd66c1b',
 '7f2253d7e228b22a08bda1f09c516f6fead81df6536eb02fa991a34bb38d9be8',
 '4ec9599fc203d176a301536c2e091a19bc852759b255bd6818810a42c5fed14a',
 '49d180ecf56132819571bf39d9b7b342522a2ac6d23c1418d3338251bfe469c8',
 'e7f6c011776e8db7cd330b54174fd76f7d0216b612387a5ffcfb81e6f0919683',
 '624b60c58c9d8bfb6ff1886c2fd605d2adeb6ea4da576068201b6c6958ce93f4',
 '3e1e967e9b793e908f8eae83c74dba9bcccce6a5535b4b462bd9994537bfe15c',
 '9f14025af0065b30e47e23ebb3b491d39ae8ed17d33739e5ff3827ffb3634953',
 'e29c9c180c6279b0b02abd6a1801c7c04082cf486ec027aa13515e4f3884bb6b',
 'da4ea2a5506f2693eae190d9360a1f31793c98a1adade51d93533a6f520ace1c',
 '9400f1b21cb527d7fa3d3eabba93557a18ebe7a2ca4e471cfe5e4c5b4ca7f767',
 '48449a14a4ff7d79bb7a1b6f3d488eba397c36ef25634c111b49baf362511afc',
 '6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d49c01e52ddb7875b4b',
 '670671cd97404156226e507973f2ab8330d3022ca96e0c93bdbdb320c41adcaf',
 'f5ca38f748a1d6eaf726b8a42fb575c3c71f1864a8143301782de13da2d9202b',
 'c6f3ac57944a531490cd39902d0f777715fd005efac9a30622d5f5205e7f6894',
 '81b8a03f97e8787c53fe1a86bda042b6f0de9b0ec9c09357e107c99ba4d6948a',
 'c75cb66ae28d8ebc6eded002c28a8ba0d06d3a78c6b5cbf9b2ade051f0775ac4',
 '7902699be42c8a8e46fbbb4501726517e86b22c56a189f7625a6da49081b2451',
 '6208ef0f7750c111548cf90b6ea1d0d0a66f6bff40dbef07cb45ec436263c7d6',
 'ef2d127de37b942baad06145e54b0c619a1f22327b2ebbcfbec78f5564afe39d',
 '8722616204217eddb39e7df969e0698aed8e599ba62ed2de1ce49b03ade0fede',
 '3fdba35f04dc8c462986c992bcf875546257113072a909c162f7e470e581e278',
 '4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328cb08b5531fcacdabf8a',
 '98a3ab7c340e8a033e7b37b6ef9428751581760af67bbab2b9e05d4964a8874a']

In [7]:
### Creating function for finding the difference between dates

from datetime import datetime
def days_between(d1, d2):
    d1 = datetime.strptime(d1, "%d/%m/%y")
    d2 = datetime.strptime(d2, "%d/%m/%y")
    return abs((d2 - d1).days)

In [8]:
# days between booking and checkin date

days_between_booking_checkin = []
for index, row in data.iterrows():
    i = days_between(row['booking_date'],row['checkin_date'])
    days_between_booking_checkin = days_between_booking_checkin.append(i)

AttributeError: 'NoneType' object has no attribute 'append'

In [ ]:
### days between checkin and checkout dates

days_between_checkin_checkout = []
for index, row in data.iterrows():
    i = days_between(row['checkin_date'],row['checkout_date'])
    days_between_checkin_checkout = days_between_checkin_checkout.append(i)

In [ ]:
data['days_between_booking_checkin'] = pd.Series("days_between_booking_checkin")

In [ ]:
data['days_between_checkin_checkout'] = pd.Series("days_between_checkin_checkout")

In [ ]:
test['channel_code'].unique()

In [ ]:
##Giving the names to channel codes to create the dummy variables
data['channel_code'].unique()

channel  = data['channel_code'] 

channel = pd.DataFrame({"channel" : channel})

channel_dummies = pd.get_dummies(channel['channel'])

channel_dummies["channel_1"] = channel_dummies[1]
channel_dummies["channel_2"] = channel_dummies[2]
channel_dummies["channel_3"] = channel_dummies[3]

channel_dummies = channel_dummies.drop([1,2,3],1)

In [ ]:
type(channel_dummies)

In [ ]:
test['main_product_code'].unique()

In [ ]:
##Giving the names to main product codes to create the dummy variables
data['main_product_code'].unique()

main_product_code = data['main_product_code'] 

main_product_code = pd.DataFrame({"main_product_code" :main_product_code})

main_product_code_dummies = pd.get_dummies(main_product_code['main_product_code'])

main_product_code_dummies["main_product_code_1"] = main_product_code_dummies[1]
main_product_code_dummies["main_product_code_2"] = main_product_code_dummies[2]
main_product_code_dummies["main_product_code_3"] = main_product_code_dummies[3]
main_product_code_dummies["main_product_code_4"] = main_product_code_dummies[4]
main_product_code_dummies["main_product_code_7"] = main_product_code_dummies[7]

main_product_code_dummies = main_product_code_dummies.drop([1,2,3,4,7],1)

In [ ]:
test['persontravellingid'].unique()

In [ ]:
##Giving the names to person travelling id codes to create the dummy variables
data['persontravellingid'].unique()

persontravellingid = data['persontravellingid'] 

persontravellingid = pd.DataFrame({"persontravellingid" :persontravellingid})

persontravellingid_dummies = pd.get_dummies(persontravellingid['persontravellingid'])

persontravellingid_dummies["persontravellingid_45"] = persontravellingid_dummies[45]
persontravellingid_dummies["persontravellingid_46"] = persontravellingid_dummies[46]
persontravellingid_dummies["persontravellingid_47"] = persontravellingid_dummies[47]
persontravellingid_dummies["persontravellingid_4752"] = persontravellingid_dummies[4752]
persontravellingid_dummies["persontravellingid_4753"] = persontravellingid_dummies[4753]
persontravellingid_dummies["persontravellingid_4995"] = persontravellingid_dummies[4995]

persontravellingid_dummies = persontravellingid_dummies.drop([ 46,   47,   45, 4752, 4753, 4995],1)

In [ ]:
data['resort_region_code'].unique()

In [ ]:
##Giving the names to resort region codes to create the dummy variables
data['resort_region_code'].unique()

resort_region_code  = data['resort_region_code'] 

resort_region_code = pd.DataFrame({"resort_region_code" : resort_region_code})

resort_region_code_dummies = pd.get_dummies(resort_region_code['resort_region_code'])

resort_region_code_dummies["resort_region_code_1"] = resort_region_code_dummies[1]
resort_region_code_dummies["resort_region_code_2"] = resort_region_code_dummies[2]
resort_region_code_dummies["resort_region_code_3"] = resort_region_code_dummies[3]

resort_region_code_dummies = resort_region_code_dummies.drop([1,2,3],1)

In [ ]:
data['resort_type_code'].unique()

In [ ]:
##Giving the names to resort type codes to create the dummy variables
data['resort_type_code'].unique()

resort_type_code = data['resort_type_code'] 

resort_type_code = pd.DataFrame({"resort_type_code" :resort_type_code})

resort_type_code_dummies = pd.get_dummies(resort_type_code['resort_type_code'])

resort_type_code_dummies["main_product_code_0"] = resort_type_code_dummies[0]
resort_type_code_dummies["resort_type_code_1"] = resort_type_code_dummies[1]
resort_type_code_dummies["resort_type_code_2"] = resort_type_code_dummies[2]
resort_type_code_dummies["resort_type_code_3"] = resort_type_code_dummies[3]
resort_type_code_dummies["main_product_code_4"] = resort_type_code_dummies[4]
resort_type_code_dummies["main_product_code_5"] = resort_type_code_dummies[5]
resort_type_code_dummies["main_product_code_7"] = resort_type_code_dummies[7]

resort_type_code_dummies = resort_type_code_dummies.drop([3, 5, 2, 1, 7, 4, 0],1)

In [ ]:
data['room_type_booked_code'].unique()

In [ ]:
##Giving the names to room_type_booked_code to create the dummy variables
data['room_type_booked_code'].unique()

room_type_booked_code = data['room_type_booked_code'] 

room_type_booked_code = pd.DataFrame({"room_type_booked_code" :room_type_booked_code})

room_type_booked_code_dummies = pd.get_dummies(room_type_booked_code['room_type_booked_code'])

room_type_booked_code_dummies["room_type_booked_code_1"] = room_type_booked_code_dummies[1]
room_type_booked_code_dummies["room_type_booked_code_2"] = room_type_booked_code_dummies[2]
room_type_booked_code_dummies["room_type_booked_code_3"] = room_type_booked_code_dummies[3]
room_type_booked_code_dummies["room_type_booked_code_4"] = room_type_booked_code_dummies[4]
room_type_booked_code_dummies["room_type_booked_code_5"] = room_type_booked_code_dummies[5]
room_type_booked_code_dummies["room_type_booked_code_6"] = room_type_booked_code_dummies[6]

room_type_booked_code_dummies = room_type_booked_code_dummies.drop([3, 4, 2, 1, 5, 6],1)

In [ ]:
##Giving the names to season_holidayed_codes to create the dummy variables
data['season_holidayed_code'].unique()

season_holidayed_code = data['season_holidayed_code'] 

season_holidayed_code = pd.DataFrame({"season_holidayed_code" :season_holidayed_code})

season_holidayed_code_dummies = pd.get_dummies(season_holidayed_code['season_holidayed_code'])

season_holidayed_code_dummies["season_holidayed_code_1"] = season_holidayed_code_dummies[1.]
season_holidayed_code_dummies["season_holidayed_code_2"] = season_holidayed_code_dummies[2.]
season_holidayed_code_dummies["season_holidayed_code_3"] = season_holidayed_code_dummies[3.]
season_holidayed_code_dummies["season_holidayed_code_4"] = season_holidayed_code_dummies[4.]


season_holidayed_code_dummies = season_holidayed_code_dummies.drop([ 2.,  3.,  4.,  1.],1)

In [ ]:
data['state_code_resort'].unique()

In [ ]:
##Giving the names to state_code_resorts to create the dummy variables
list = data['state_code_resort'].unique().tolist()

state_code_resort = data['state_code_resort'] 

state_code_resort = pd.DataFrame({"state_code_resort" :state_code_resort})

state_code_resort_dummies = pd.get_dummies(state_code_resort['state_code_resort'])

for x in list:
    state_code_resort_dummies["state_code_resort_" + str(x)] = state_code_resort_dummies[x]


state_code_resort_dummies = state_code_resort_dummies.drop([ 3,  5,  1,  2,  6,  9, 10,  4, 11,  7, 13],1)

In [ ]:
data['member_age_buckets'].unique()

In [ ]:
##Giving the names to member_age_buckets to create the dummy variables
list = data['member_age_buckets'].unique().tolist()

member_age_buckets = data['member_age_buckets'] 

member_age_buckets = pd.DataFrame({"member_age_buckets" :member_age_buckets})

member_age_buckets_dummies = pd.get_dummies(member_age_buckets['member_age_buckets'])

for x in list:
    member_age_buckets_dummies["member_age_buckets_" + str(x)] = member_age_buckets_dummies[x]

member_age_buckets_dummies = member_age_buckets_dummies.drop([ 'F', 'H', 'D', 'E', 'I', 'G', 'C', 'B', 'A', 'J'],1)

In [ ]:
data['booking_type_code'].unique()

In [ ]:
##Giving the names to booking type codes to create the dummy variables
data['booking_type_code'].unique()

booking_type_code  = data['booking_type_code'] 

booking_type_code = pd.DataFrame({"booking_type_code" : booking_type_code})

booking_type_code_dummies = pd.get_dummies(booking_type_code['booking_type_code'])

booking_type_code_dummies["booking_type_code_1"] = booking_type_code_dummies[1]
booking_type_code_dummies["booking_type_code_2"] = booking_type_code_dummies[2]

booking_type_code_dummies = booking_type_code_dummies.drop([1,2],1)

In [ ]:
##Giving the names to cluster_code to create the dummy variables
list = data['cluster_code'].unique().tolist()

cluster_code = data['cluster_code'] 

cluster_code = pd.DataFrame({"cluster_code" :cluster_code})

cluster_code_dummies = pd.get_dummies(cluster_code['cluster_code'])

for x in list:
    cluster_code_dummies["cluster_code_" + str(x)] = cluster_code_dummies[x]


cluster_code_dummies = cluster_code_dummies.drop([ 'F', 'E', 'D', 'B', 'A', 'C'],1)

In [ ]:
data['reservationstatusid_code'].unique()

In [ ]:
##Giving the names to reservationstatusid_code to create the dummy variables
list = data['reservationstatusid_code'].unique().tolist()

reservationstatusid_code= data['reservationstatusid_code'] 

reservationstatusid_code = pd.DataFrame({"reservationstatusid_code" :reservationstatusid_code})

reservationstatusid_code_dummies = pd.get_dummies(reservationstatusid_code['reservationstatusid_code'])

for x in list:
    reservationstatusid_code_dummies["reservationstatusid_code_" + str(x)] = reservationstatusid_code_dummies[x]


reservationstatusid_code_dummies = reservationstatusid_code_dummies.drop([ 'D', 'B', 'A', 'C'],1)

In [ ]:
data['resort_id'].unique()

In [ ]:
import itertools

In [ ]:
##Giving the names to reservationstatusid_code to create the dummy variables
list = data['resort_id'].unique().tolist()

resort_id= data['resort_id'] 

resort_id = pd.DataFrame({"resort_id" :resort_id})

resort_id_dummies = pd.get_dummies(resort_id['resort_id'])

for x,y in zip(list,range(len(list))):
    resort_id_dummies["resort_id_" + str(y)] = resort_id_dummies[x]


resort_id_dummies = resort_id_dummies.drop(list,1)

In [ ]:
ls = ['channel_dummies',"main_product_code_dummies","persontravellingid_dummies","resort_region_code_dummies",
      "resort_type_code_dummies","room_type_booked_code_dummies",
      "season_holidayed_code_dummies","state_code_resort_dummies","booking_type_code_dummies","cluster_code_dummies",
      "reservationstatusid_code_dummies","resort_id_dummies"]

In [ ]:
type(booking_type_code_dummies)

In [ ]:
train = pd.concat([data,channel_dummies,main_product_code_dummies,persontravellingid_dummies,resort_region_code_dummies,
                   resort_type_code_dummies,room_type_booked_code_dummies,season_holidayed_code_dummies,
                   state_code_resort_dummies,booking_type_code_dummies,member_age_buckets_dummies],axis =1)

In [ ]:
train.shape

In [ ]:
drop_list = ['reservation_id', 'booking_date', 'checkin_date', 'checkout_date','channel_code', 'main_product_code',
            'persontravellingid', 'resort_region_code','resort_type_code', 'room_type_booked_code','season_holidayed_code', 
             'state_code_residence', 'state_code_resort', 'booking_type_code', 'memberid',
       'cluster_code', 'reservationstatusid_code', 'resort_id','member_age_buckets']

train = train.drop(drop_list,axis =1)

In [ ]:
train['days_between_booking_checkin']

In [ ]:
y = train['amount_spent_per_room_night_scaled']
x = train.drop(['amount_spent_per_room_night_scaled'],axis =1)

### model development

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
 X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.30, random_state=42)

In [ ]:
reg = LinearRegression().fit(X_train,y_train)